<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %> 
        <div class="about content">
            <h2>About Us</h2>
            <p>Content</p>
            <p>Content contetn Const SConten</p>
            <p>Content onte Cont Con st</p>
        </div>
        <%- include('./partials/footer.ejs') %> 
    </body>
</html>